<% if @car != nil %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>  
        <div class="provider">事業者名:<%= @micropost.carid.company %></div>
        <div class="number">車両番号:<%= @micropost.carid.number %></div>
         
        <% Time.zone = 'UTC' %>
        <% ntime = Time.now;  gmtimestr= ntime.strftime("%Y/%m/%d %02H:%02M") %>
        <% Time.zone = 'Bangkok' %>
        <% ltimestr = Time.zone.now.strftime("%Y/%m/%d %02H:%02M") %>
        <div class="rtime">時刻： <%= ltimestr %> / <%= Time.zone.name %></div>

      </section>        
      <section class="micropost_form">
        <%= render 'shared/micropost_form', {gmtimestr: gmtimestr} %>  
        緯度<div class="lat"></div>
        経度<div class="lng"></div>
        精度<div class="accurate"></div> 
      </section>
    </aside>  
    <div id="gmapwrap" class="col-md-8">
      <div id="gmap"></div>
      <div id="area_name"></div>
    </div>
  </div>
<% else %>
  <div class="center jumbotoron">
    <h1>Welcome to the Mobileye</h1>
    
    <%#= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <div class="row">
    <div id="sample" class="col-md-4">
      This is sample
    </div>
    <div id="gmapwrap" class="col-md-8">
      <div id="gmap"></div>
      <div id="area_name"></div>
    </div>
  </div>
<% end %>  
  
