<h1>Log for Carid <%= @carid.id %>: Number <%= @carid.number %></h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Logtime</td> <td>Number</td> <td>Kind</td> <td>content</td> <td>Lat</td>
            <td>Lng</td>
        </tr>
    </thead>
    <tbody>
       <% @microposts.each do |post| %>
           <tr>
              <td><%= post.logtime %></td> 
              <td><%= @carid.number %></td> 
              <td><%= post.kind %></td> 
              <td><%= post.content.truncate(20) %></td> 
              <td><%= post.lat %></td> 
              <td><%= post.lng %></td> 
           </tr>
       <% end %>
        
    </tbody>
</table>
    
    
</table>