
<div class="row">
    <div class="col-sm-9 col-sm-offset-3">
        <%= link_to "管理画面", admin_path, class:"btn btn-primary" %>
    </div>
</div>
<h2>CAR-ID一覧</h2>

<% if params[:company] %>
    <h4>事業者別一覧：<%= params[:company] %></h4>
<% end %>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>id</td>
            <td>company</td>
            <td>number</td>
            <td>delete</td>
        </tr>
    </thead>
    <tbody>
        <% @carids.each do |carid| %>
            <tr>
                <td><%= link_to "CAR-ID " + carid.id.to_s, edit_carid_path(carid.id), class:'btn btn-primary btn-xs' %></td>
                <td><%= carid.company %></td>
                <td><%= carid.number %></td>
                <td>
                    <%= link_to "削除", carid_path(carid.id), method: :delete, :confirm => 'Are you sure?',
                        class:'btn btn-danger btn-xs' %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @carids %>