<%= render 'carids/modal' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to "新規車両登録", new_carid_path, class:"btn btn-success" %>
      <%= link_to "管理画面",  admin_path, class:"btn btn-primary" %>
    </section>
  </aside> 
  <div class="col-md-8">
    <div class="row">
     <%= link_to "車両登録最新順", @user, class:"btn btn-default col-xs-offset-1" %>
     <span class="btn btn-primary col-xs-offset-1"> >>報告発生最新順<< </span>
     <%#= link_to ">> All map <<", allmap_path(company: params[:company]), remote: true,
                     class:'btn btn-warning col-xs-offset-1',
                     data:{toggle:"modal", target:"#modal-gmap"}  %>
    </div>
    <% if params[:company] %>
      <div class="row my-1">
        事業者指定：<span class="btn btn-warning btn-xs"><%= params[:company] %></span>
        : <%= link_to "Reset", ordershow_user_path(@user), class:"btn btn-success btn-xs" %>
    </div>
    <% end %>
    <table class="table table-striped table-bordered">
      <tr>
        <thead>
          <td>Car-ID</td> <td>Company</td> <td>Number</td>
          <td>Edit</td> <td>Carte</td>
        </thead>
      </tr>
      <tbody>
        <% @carids.each do |car| %>
          <tr>
           <td><%= car.id %></td> 
           <td><%= link_to car.company, ordershow_user_path(@user, company:car.company) %></td> 
           <td><%= car.number %></td> 
           <td class="center"><%= link_to :Edit, edit_carid_path(car.id), class:"btn btn-primary btn-xs" %></td>
           <td class="center">
             <%= link_to carte_carid_path(car.id) do %>
                <span class="btn btn-success btn-xs">Carte 
                   <span class="badge"><%= car.microposts.count %> 件</span>
                </span>
             <% end %>
           </td>
          </tr>
        
        <% end %>
 
      </tbody>
    </table>
   <%= paginate @carids %>
  </div>
</div>

